.body__wrapper{
    max-width: 1200px;
    max-height: 37rem;
    padding: 2rem 1rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 1rem;
    background-color: white;
    border-radius: var(--border-radius-lg);
}
